{
    "plugins": [
      "@babel/plugin-proposal-optional-chaining",
      // "transform-object-rest-spread",
      // ["transform-class-properties", { "spec": true }]
    ],
    "presets": [
      [
        "env",
        {
          "targets": {
            "chrome": 75,
            "safari" : 11,
            "firefox": 67,
            "edge": 16,
            "ios": 11
          },
          "modules": false,
          "useBuiltIns": "usage",
          "debug": false
        }
      ]
    ]
  }
