modern-browsers()
    if runIE11 != true
        {block}


ie11()
    if runIE11 == true
        {block}


at-retina()
    @media (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
        {block}


at-vars()
    @supports (color: var(--v))
        {block}


at-no-vars()
    @supports not (color: var(--v))
        {block}


at-grid()
    @supports (display: grid)
        {block}


at-no-grid()
    @supports not (display: grid)
        {block}


// MSIE hacks
at-ieEdge()
    @supports (-ms-accelterator: true)
        {block}


at-ie11()
    & _:ms-fullscreen,
    *:root &
        {block}


at-ie()
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
        {block}
